*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color-scheme: light dark;
  text-align: center;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  min-height: 100dvh;
  margin: 0;
  display: grid;
  gap: 1rem;
  place-content: center;
}

h1,
h2 {
  line-height: 1;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.75em;
  justify-content: center;
}

.separator {
  background-color: #8888;
  padding: 1em 1px;
}

#keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#chartPlaceholder {
  display: none;
  margin-block-end: 2em;
}

#rightHandContainer {
  :first-child {
    border-top-left-radius: 0.3em;
  }
  :last-child {
    border-top-right-radius: 0.3em;
  }
}

#leftHandContainer {
  :first-child {
    border-bottom-left-radius: 0.3em;
  }
  :last-child {
    border-bottom-right-radius: 0.3em;
  }
}

.banner {
  background-color: light-dark(#ddd, #333);
  border: 1px solid light-dark(#666, transparent);
  margin: 0;
  padding: 0.333em 0.75em;
  grid-column: 2;

  &.banner--top {
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -0.333em 0.25em -0.3em #0008 inset;
  }

  &.banner--bottom {
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.333em 0.25em -0.3em #0008 inset;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.option-group {
  display: grid;
  gap: 1em;
  background-color: light-dark(#ddd, #333);
  padding: 0.6em 1.2em;
  border: 1px solid light-dark(#666, transparent);
  border-radius: 0.6em;

  select {
    font-size: inherit;
    background-color: light-dark(#fff3, #0003);
    border-color: black;
    border-radius: 0.3em;
    padding: 0.2em;
    text-align: center;
  }

  .block {
    display: block;
  }

  .center {
    margin-inline: auto;
  }

  label {
    display: inline-block;

    input[type='radio'] {
      display: none;
    }

    &:has(input[type='radio']) {
      padding: 0.3em 0.5em;
      border-radius: 0.3em;
      background-color: light-dark(#fff3, #0003);
      color: light-dark(#0006, #fff8);
      border: 1px solid black;
    }

    &:has(input[type='radio']:checked) {
      color: light-dark(#fff, #fff);
      background-color: green;
    }
  }

  label:has(#twoOctaves) {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.7em;
    text-align: right;
    width: 2.8em;
    border: 1px solid black;
    border-radius: 3em;
    padding-block: 0.15em;
    background-color: light-dark(#eee, #222);

    &::after {
      content: '1';
      position: absolute;
      display: grid;
      place-items: center;
      left: 0.1em;
      top: 0.1em;
      width: 1.25em;
      height: 1.25em;
      background-color: green;
      color: white;
      border: 1px solid darkgreen;
      border-radius: 2.4em;
      transition: translate 150ms ease-in;
    }
  }

  label:has(#twoOctaves:checked) {
    content: '1';
    text-align: left;
    &::after {
      content: '2';
      translate: 1.25em 0;
    }
  }

  #octaves {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  #twoOctaves {
    display: none;
  }

  span.disabled {
    margin-inline-start: 1.5rem;
    opacity: 0.5;
    filter: blur(2px);
  }
}

.fingerchart {
  font-size: clamp(1rem, calc(0.1rem + 1.5vw), 3rem);
  display: flex;
  grid-column: 1 / -1;
  line-height: 1;
  > * {
    letter-spacing: 0.1em;
    width: 2em;
    aspect-ratio: 1;
    background-color: light-dark(#9ad, #113);
    outline: 1px solid #888d;
    span {
      display: inline-block;
      font-size: 0.6em;
      opacity: 0.7;
      color: light-dark(rgb(0, 0, 132), rgb(181, 181, 255));
      &.up {
        color: light-dark(rgb(134, 36, 0), yellow);
        transform: translateY(-0.5em);
      }
    }
  }
}

#chartDisplay {
  grid-template-columns: 1fr auto 1fr;
}

.notes {
  font-size: clamp(1rem, calc(0.1rem + 1.5vw), 3rem);
  display: flex;
  justify-content: center;
  min-height: 0.25em;
  grid-column: 1 / -1;
  > * {
    display: grid;
    width: 2em;
    padding-block: 0.1em;
    place-items: center;
    outline: 1px solid #888d;
    background-color: #eee;
    color: black;

    &.black {
      background-color: #000;
      color: white;
    }
  }
}

.wide-enough {
  display: block;
}
.not-wide-enough {
  display: none;
}

@media (width < 932px) {
  .wide-enough {
    display: none;
  }
  .not-wide-enough {
    display: block;
  }
  .if-wide-enough,
  #octaves.if-wide-enough {
    display: none;
  }
}
